version: 2.1
jobs:
  build:
    macos:
      xcode: 12.3.0
    steps:
      - checkout
      - run:
          name: Build
          command: |
            printf "Building STREAMELEMENTS_PLUGIN_VERSION %s\n" `date +%Y.%m.%d.${CIRCLE_BUILD_NUM}`

            export TERM=xterm-256color

            brew install awscli zip
            
            cd ..

            git clone --recursive https://github.com/obsproject/obs-studio.git

            rm -rf obs-studio/plugins/obs-browser

            mv project obs-studio/plugins/obs-browser

            cd obs-studio

            git checkout 26.1.2

            printf "#define STREAMELEMENTS_PLUGIN_VERSION %s%06dL\n" `date +%Y%m%d` ${CIRCLE_BUILD_NUM} >plugins/obs-browser/streamelements/Version.generated.hpp

            cat plugins/obs-browser/streamelements/Version.generated.hpp

            ./CI/full-build-macos.sh -b

            echo "Branch: ${CIRCLE_BRANCH}"

            if [ ${CIRCLE_BRANCH} = master ]; then
              cd build
              zip -rv9 obs-browser.zip OBS.app
              aws s3 cp "obs-browser.zip" "s3://obs-builds/obs-browser/latest/macos/obs-browser.zip";
              cd ..
              aws s3 cp "plugins/obs-browser/streamelements/Version.generated.hpp" "s3://obs-builds/obs-browser/latest/macos/Version.generated.hpp"
            else
              exit 0;
            fi;
